<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" id="home">
            <div class="panel-body text-center">
                  <a data-ui-sref="admin.addRegularUser" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Users</a>
                  <a data-ui-sref="map" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-globe"></span> <br/>Map</a>
            </div>
        </div>
    </div>
</div>